<!doctype html>
{% extends 'base.html' %}
{% block content %}
<html>
<head></head>
<body>

<h3>About SmartLuk?</h3>

<h6>SmartLuk is an online news, entertainment and lifestyle portal,
    designed to bring the best of news and entertainment within your finger tips.
    SmartLuk pledges to break the latest stories while maintaining the high standards of honesty and fair play.</h6>

<section class="lower" style="width: 100%; height: 50%!important;">
<div style="height: 50%; background-color: inherit">
<p></p><p></p>
</div>
</section>

</body>
</html>
{% endblock %}
